/*SAVE THIS*/

body {
  font-family: "Roboto", Verdana, sans-serif;
  background-color:green ;
  position: relative;
  width: 100%;
  display: block;
  text-align:center ;
  }
  
  main {
    max-width: 1000px;
    margin: auto;
  }
  
  button{
    color: DarkGreen;
    background-color: GhostWhite;
    font-weight: bolder;
    font-size: 40px;
    width: 300px;
    height: 95px;
    border-width: thick;
    box-shadow: 4px 4px 4px #000000;
    border-style: dashed;
    animation-name: button;
    animation-duration: 2s;
    align-items: center;
    animation-iteration-count: infinite;
}
  
  button:hover {
    cursor: pointer;
  }
  
  .message {
    display: none;
    position: fixed;
    text-align: center;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    border: 2px solid black;
  }

image {
    padding-bottom: 30px;
}

h3 {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    color: darkgreen;
    text-shadow: 4px 4px 7px black;
    }
    
h2.outcome{
      padding-top: 40px;
      padding-bottom: 30px;
      text-align: center;
      color: darkgreen;
      text-shadow: none;
    }

@keyframes button {
      0% {border-color: DarkGoldenRod;}
      50% {border-color: DarkGreen;}
      100% {border-color: DarkGoldenRod}
  }
  
  .cards{
    padding-bottom: 20px;
  }